/target
/.m2


/.classpath
/.project
/.settings

/caches
/local.properties
.*.swp
.DS_Store
.ibm-project
/src/main/resources/application-local.properties

src/main/resources/application-local.properties
src/main/resources/localdev-config.json
